body{
  background-color: #F8F4E3;
}

/* Hearder component styling */
.logo-container{
  display: flex; 
  width :100%;
  justify-content: space-between;
}

.logo-container h1{
  color: #695958;
 margin-top: 10px;
 margin-right: 20px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 10px;
}

.App-title {
  font-size: 1.5em;
}

/* The App component styling */
.container{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
 justify-content: center;
}
/*The card component styling */
.card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 400px;
  border: 6px black solid;
  margin-left: 10%;
  margin-right: 10%;
  margin-top:1%;
  padding: 20px;
  background-color: #A2A392;
}
.card-container span{
 font-family: 'Kalam';
font-size: 30px;
padding: 5px;
line-height: 1.6;
}




/* Button component Styling */
.btn-container{
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
  .btn{
    width:230px;
    height: 60px;
    color: black;
    font-size: 20px;
    background-color: #9A998C;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;

  }
  .btn:hover{
    background: #D4CDC3;
    cursor:pointer;
  }

  .quote{
   font-size: 30;
  }


  /* Search Bar  styling*/
  div.example{
    width : 40%;
    margin-top: 2%;
  }
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #B1A466;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #D4CDC3;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  .suggestions {
    border: 1px solid #999;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    max-height: 143px;
    overflow-y: auto;
    padding-left: 0;
    /* width: calc(300px + 1rem); */
    width:80%;
  }
  
  .suggestions li {
    padding: 0.5rem;
  }
  
  .suggestion-active,
  .suggestions li:hover {
    background-color: #008f68;
    color: #fae042;
    cursor: pointer;
    font-weight: 700;
  }
  
  .suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #999;
  }